@font-face {
    src: url(ebgaramondmedium.ttf) format('trutype'),
    url(ebgaramondmedium.woff) format('woff'),
    url(ebgaramondmedium.woff2) format('woff2');

    font-family: 'EB Garamond';
    font-weight: medium;
};

@font-face {
    src: url(ebgaramondregular.ttf) format('trutype'),
    url(ebgaramondregular.woff) format('woff'),
    url(ebgaramondregular.woff2) format('woff2');

    font-family: 'EB Garamond';
    font-weight: regular;
};

@font-face {
    src: url(interregular.ttf) format('trutype'),
    url(interregular.woff) format('woff'),
    url(interregular.woff2) format('woff2');

    font-family: 'Inter';
    font-weight: regular;
};

@font-face {
    src: url(interbold.ttf) format('trutype'),
    url(interbold.woff) format('woff'),
    url(interbold.woff2) format('woff2');

    font-family: 'Inter';
    font-weight: bold;
};