body {
  margin: 0;
  background-color: #1e1e1e;
  font-family: 'Inter', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  width: 360px;
  box-sizing: border-box;
  margin: auto;
}

.content-section_theme_dark {
  background-color: #131313;
  height: 100px;
}

.content-section_theme_bright {
  background-color: #fee42a;
}

.header {
  padding: 24px 20px;
}

.cover {
  padding: 7px 0px 15px 20px;
}

.intro {
  padding: 15px 20px 38px 20px;
}

.reasons {
  padding: 40px 20px 39px 20px;
}

.how-to {
  padding: 40px 20px 60px 20px;
}

.footer {
    padding: 20px;
}